<h2>Welcome to Mr. Fix-It!</h2>

<p>Mr. Fix-It is the one-stop-shop to crowd-source all your home repair needs. Need a fence repaired? Cabinets installed? Leaky pipe mended? Post the job on Mr.Fix-It. Then, independent handypeople, carpenters, plumbers, and more are able to view and claim jobs. It's like ride-sharing, but for home repairs!</p>

<div class="image">
  <%= image_tag("handyperson.jpeg") %>
</div>

<div class="image">
  <%= image_tag("plumber-image.jpeg") %>
</div>
