<h1><%= @job.title %></h1>

<h3><%= @job.description %></h3>

<% if current_worker.id == @job.worker_id %>
  <p>You've claimed this job</p>
<% elsif @job.pending %>
  <p>Someone has already claimed this job; it's currently pending.</p>
<% else %>
  <div id="claim-job">
    <p>No one has claimed this job!</p>
    <%= link_to "click here to claim it now", job_path(@job), :method => "patch", remote: true %>
  </div>
<% end %>
